<div class="container">
  <table style="width:100%">
    <tr class="alert alert-primary">
      <td>Id</td>
      <td>Фамилия</td>
      <td>Имя</td>
      <td>Отчество</td>
      <td>Номер телефона</td>
      <td>Дата рождения</td>
      <td>E-mail</td>
      <td>Пол</td>
      <td>Отдел</td>
      <td>Организация</td>
    </tr>
    <tr class="alert alert-info" *ngFor="let emp of emps">
      <td>{{emp.id}}</td>
      <td>{{emp.secondName}}</td>
      <td>{{emp.firstName}}</td>
      <td>{{emp.surname}}</td>
      <td>{{emp.phoneNumber}}</td>
      <td>{{emp.birthDate}}</td>
      <td>{{emp.email}}</td>
      <td>{{emp.genderS}}</td>
      <ng-container *ngIf="emp.plainDepartmentDto; else noDepName">
        <td>{{emp.plainDepartmentDto.depName}}</td>
      </ng-container>
      <ng-template #noDepName>
        <td></td>
      </ng-template>
      <ng-container *ngIf="emp.plainOrgDto; else noOrgName">
        <td>{{emp.plainOrgDto.nameOrg}}</td>
      </ng-container>
      <ng-template #noOrgName>
        <td></td>
      </ng-template>
    </tr>
  </table>
  <br>
  <div class="box">
    <label for="secondNameEmp">Фамилия</label>
    <input id="secondNameEmp" class="form-control" name="secondNameEmp" [(ngModel)]="emp.secondName" placeholder="Фамилия"/>
    <br>
    <label for="firstNameEmp">Имя</label>
    <input id="firstNameEmp" class="form-control" name="addressFil" [(ngModel)]="emp.firstName" placeholder="Имя"/>
    <br>
    <label for="surnameEmp">Отчество</label>
    <input id="surnameEmp" class="form-control" name="addressFil" [(ngModel)]="emp.surname" placeholder="Отчество"/>
    <br>
    <label for="phoneNumber">Номер телефона</label>
    <input id="phoneNumber" class="form-control" name="addressFil" [(ngModel)]="emp.phoneNumber" placeholder="Номер телефона"/>
    <br>
    <label for="birthDate">Дата рождения</label>
    <input type="date" id="birthDate" class="form-control" name="addressFil" [(ngModel)]="emp.birthDate" placeholder="Дата рождения"/>
    <br>
    <label for="email">E-mail</label>
    <input id="email" class="form-control" name="addressFil" [(ngModel)]="emp.email" placeholder="Электронная почта"/>
    <br>
    <label for="gender">Пол:</label>
    <br>
    <label for="male">М</label>
    <input type="radio" id="male" name="gender" value="0" [(ngModel)]="emp.gender" checked="checked">
    <br>
    <label for="female">Ж</label>
    <input type="radio" id="female" name="gender" value="1" [(ngModel)]="emp.gender">
    <br>
    <button type="button" name="buttonAddEmp" onClick="history.go(0);" (click)="setNewEmployee(emp)">Добавить сотрудника</button>
    <button type="button" name="buttonFindEmpBySecondName" (click)="findEmpsBySecondName(emp.secondName)">Поиск по фамилии</button>
    <button type="button" name="buttonFindAll" (click)="getEmpsTbl()">Все сотрудники</button>
    <br>
    <label for="idUpdate">Идентификатор для изменения/удаления</label>
    <input type="number" id="idUpdate" class="form-control" name="idUpdate" [(ngModel)]="id" placeholder="Идентификатор"/>
    <br>
    <button type="button" name="buttonUpdateEmp" onClick="history.go(0);" (click)="updateEmployee(id, emp)">Обновить данные о сотруднике</button>
    <button type="button" name="buttonRemoveEmp" onClick="history.go(0);" (click)="removeEmployee(id)">Удалить сотрудника</button>
    <br>
    <label for="nameDep">ИД организации для добавления</label>
    <input type="number" id="idOrg" class="form-control" name="idOrg" [(ngModel)]="idOrg" placeholder="ИД организации"/>
    <br>
    <button type="button" name="buttonAddDepToEmp" onClick="history.go(0);" (click)="setOrgToEmployee(idOrg, id, emp)">Добавить сотрудника в организацию</button>
    <button type="button" name="buttonRemoveDepFromEmp" onClick="history.go(0);" (click)="removeOrgFromEmployee(idOrg, id)">Удалить сотрудника из организации</button>
    <br>
    <label for="nameDep">ИД отдела для добавления</label>
    <input type="number" id="idDep" class="form-control" name="idDep" [(ngModel)]="idDep" placeholder="ИД отдела"/>
    <br>
    <button type="button" name="buttonAddOrgToEmp" onClick="history.go(0);" (click)="setDepToEmployee(idDep, id, emp)">Добавить сотрудника в отдел</button>
    <button type="button" name="buttonRemoveOrgFromEmp" onClick="history.go(0);" (click)="removeDepFromEmployee(idDep, id)">Удалить сотрудника из отдела</button>
  </div>
</div>
