<h4>Телефонная книга сотрудников</h4>
<div class="tabs">
  <div class="tab">
   <input type="radio" id="tab1" name="tab-group">
   <label for="tab1" class="tab-title">Сотрудники</label>
   <section class="tab-content"><app-emp></app-emp></section>
  </div>
  <div class="tab">
   <input type="radio" id="tab2" name="tab-group">
   <label for="tab2" class="tab-title">Должности</label>
   <section class="tab-content"><app-pos></app-pos></section>
  </div>
  <div class="tab">
   <input type="radio" id="tab3" name="tab-group">
   <label for="tab3" class="tab-title">Филиалы</label>
   <section class="tab-content"><app-fil></app-fil></section>
  </div>
  <div class="tab">
   <input type="radio" id="tab4" name="tab-group">
   <label for="tab4" class="tab-title">Отделы</label>
   <section class="tab-content"><app-dep></app-dep></section>
  </div>
   <div class="tab">
    <input type="radio" id="tab5" name="tab-group" checked>
    <label for="tab5" class="tab-title">Организации</label>
    <section class="tab-content"><app-org></app-org></section>
   </div>
</div>
