h4 {
text-align: center;

}

.tabs {
    position: relative;
   }
   .tab, .tab-title {
    display: inline-block;
   }
   .tab input[type="radio"] { display: none; }
   .tab-title {
    background: #ccc;
    padding: 5px 10px;
    border: 1px solid #666;
    border-bottom: none;
   }
   .tab-content {
    position: absolute;
    border: 1px solid #666;
    padding: 10px;
    left: 0;
    width: calc(100% - 20px);
    display: none;
   }
   .tab :checked + .tab-title {
    position: relative;
    background: #fff;
    top: 1px;
    z-index: 1;
   }
   .tab :checked ~ .tab-content {
    display: block;
   }
